//@import "~bootstrap/scss/bootstrap-grid";
@import "/style1";
$blue: #3bbfce;
$margin: 10px;

.content-navigation {
  border-color: $blue;
  color: darken($blue, 9%);
}

.border {
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $blue;
}
.border1 {
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $blue;
}

